<!DOCTYPE html>
<html lang="en">
    #parse("WEB-INF/pages/header.vm")

<body>
    <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
        #parse("WEB-INF/pages/topmenu.vm")

    <div class="container-fluid">
        <div class="row">
            #parse("WEB-INF/pages/leftmenu.vm")

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">$pageName</h1>

                <div class="table-responsive">
                    <table id="datatab" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Account number</th>
                                <th>Rest</th>
                                <th>Type</th>
                                <th>Suspended</th>
                                <th>Opening date</th>
                                <th>Closing date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Account number</th>
                                <th>Rest</th>
                                <th>Type</th>
                                <th>Suspended</th>
                                <th>Opening date</th>
                                <th>Closing date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            #foreach($lines in $accounts)
                            <tr class="sortable" onclick="window.location.href='$request.contextPath/account/$lines.accountID/accounts'">
                                <td>$!lines.accountID</td>
                                <td>$!lines.accountNumber</td>
                                <td>$!lines.restSum</td>
                                <td>$!lines.accountType</td>
                                <td>#if ($!lines.isSuspended==1) Yes
                                #elseif ($!lines.isSuspended==0) No
                                #else Undefined #end </td>
                                <td>$!lines.dateOpened</td>
                                <td>$!lines.dateClosed</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" class="init">

        $(document).ready(function() {
            $('#datatab').DataTable();
        } );

    </script>

</body>
</html>
