<!DOCTYPE html>
<html lang="en">
    #parse("WEB-INF/pages/header.vm")

<body>
    <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
        #parse("WEB-INF/pages/topmenu.vm")

    <div class="container-fluid">
        <div class="row">
            #parse("WEB-INF/pages/leftmenu.vm")

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">$pageName</h1>

                <div class="form-group row">
                    <label class="col-2 col-form-label">First name</label>
                    <div class="col-10" style="width: 300px;">
                        <input class="form-control" type="text" id="fieldFirstName" value="$!customer.firstName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Last name</label>
                    <div class="col-10" style="width: 300px;">
                        <input class="form-control" type="text" id="fieldLastName" value="$!customer.lastName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Middle name</label>
                    <div class="col-10" style="width: 300px;">
                        <input class="form-control" type="text" id="fieldMiddleName" value="$!customer.middleName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Date of birth</label>
                    <div class="col-10" style="width: 200px;">
                        <input class="form-control" type="date" id="fieldBirthDate" value="$!dateTool.format("yyyy-MM-dd", $!customer.birthDate)">
                    </div>
                </div>

                <h2 class="sub-header">
                    <button class="btn btn-success" type="button" onclick="saveData()">Save</button>
                        #if ($!customerID == -1)
                            <a class="btn btn-warning" href="$request.contextPath/customers" role="button">Cancel</a>
                        #else
                            <a class="btn btn-warning" href="$request.contextPath/customerDetails/$!customerID" role="button">Cancel</a>
                        #end
                </h2>
            </div>
        </div>
    </div>

    <script>

        function saveData() {
            var state = {};
            var customerID = $!customerID;
            state.customerID = customerID;
            var firstName = $("#fieldFirstName").val();
            state.firstName = firstName;
            var lastName = $("#fieldLastName").val();
            state.lastName = lastName;
            var middleName = $("#fieldMiddleName").val();
            state.middleName = middleName;
            var birthDate = $("#fieldBirthDate").val();
            state.birthDate = birthDate;

            if(!firstName || !lastName || !middleName || !birthDate) {
                alert("You must fill out all fields!");
                return;
            }

            $.ajax({
                type : "GET",
                url : "$request.contextPath/customers/save",
                contentType : "application/json",
                dataType : "JSON",
                data : state,
                error : function(xhr, status, error) {
                    console.log("ResponseText:" + xhr.responseText);
                    alert("Failure during data process on controller!");
                },
                success : function(data) {
                    #if ($!customerID == -1)
                        window.location.href='$request.contextPath/customers';
                        alert("Customer successfully added!");
                    #else
                        window.location.href='$request.contextPath/customerDetails/$!customerID';
                        alert("Customer successfully updated!");
                    #end
                }
            });
        }

    </script>

</body>
</html>
