<!DOCTYPE html>
<html lang="en">
    #parse("WEB-INF/pages/header.vm")

<body>
    <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
        #parse("WEB-INF/pages/topmenu.vm")

    <div class="container-fluid">
        <div class="row">
            #parse("WEB-INF/pages/leftmenu.vm")

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">$pageName</h1>

                <h3 class="sub-header">
                    <a class="btn btn-primary" href="$request.contextPath/customers" role="button">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Back</a>
                    #if($authz.anyGranted('ROLE_ACCOUNTANT'))
                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modalAccounts">Accounts</button>
                    #end
                    #if($authz.anyGranted('ROLE_OPERATOR'))
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#modalAddresses">Addresses</button>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#modalContacts">Contacts</button>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#modalPapers">Papers</button>
                        #if ($!customer.isActive==1)
                            <a class="btn btn-warning" href="$request.contextPath/customers/edit/$!customerID" role="button">Edit</a>
                        #end
                        <button class="btn btn-danger" onclick="changeState()" type="button" id="buttonUnblock">
                            #if ($!customer.isActive==1) Block
                            #elseif ($!customer.isActive==0) Unblock
                            #else Undefined #end
                        </button>
                    #end
                </h3>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="150">Parameter</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>ID</strong></td>
                                <td>$!customer.customerID</td>
                            </tr>
                            <tr>
                                <td><strong>First name</strong></td>
                                <td>$!customer.firstName</td>
                            </tr>
                            <tr>
                                <td><strong>Last name</strong></td>
                                <td>$!customer.lastName</td>
                            </tr>
                            <tr>
                                <td><strong>Middle name</strong></td>
                                <td>$!customer.middleName</td>
                            </tr>
                            <tr>
                                <td><strong>Date of birth</strong></td>
                                <td>$!dateTool.format("dd.MM.yyyy", $!customer.birthDate)</td>
                            </tr>
                            <tr>
                                <td><strong>State</strong></td>
                                <td>#if ($!customer.isActive==1)Active
                                    #elseif ($!customer.isActive==0) Inactive
                                    #else Undefined #end</td>
                            </tr>
                            <tr>
                                <td><strong>Last edited by</strong></td>
                                <td>$!customer.userID</td>
                            </tr>
                            <tr>
                                <td><strong>Date of creation</strong></td>
                                <td>$!dateTool.format("dd.MM.yyyy", $!customer.dateCreated)</td>
                            </tr>
                            <tr>
                                <td><strong>Last edited date</strong></td>
                                <td>$!dateTool.format("dd.MM.yyyy", $!customer.dateModified)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="modalAccounts" tabindex="-1" role="dialog" aria-labelledby="modalAccLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAccLabel">Accounts</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        #if ($accounts.size() > 0)
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Account number</th>
                                    <th>Rest</th>
                                    <th>Type</th>
                                    <th>Suspended</th>
                                    <th>Opening date</th>
                                    <th>Closing date</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($lines in $accounts)
                                    <tr class="sortable" onclick="window.location.href='$request.contextPath/account/$lines.accountID/customer'">
                                        <td>$!lines.accountID</td>
                                        <td>$!lines.accountNumber</td>
                                        <td>$!lines.restSum</td>
                                        <td>$!lines.accountType</td>
                                        <td>#if ($!lines.isSuspended==1) Yes
                                            #elseif ($!lines.isSuspended==0) No
                                            #else Undefined #end </td>
                                        <td>$!lines.dateOpened</td>
                                        <td>$!lines.dateClosed</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #{else}No data#end
                    </div>
                </div>
                <div class="modal-footer">
                    #if ($!customer.isActive==1)
                        <a class="btn btn-default" href="$request.contextPath/account/edit/$!customerID/-1/customer" role="button">Add account</a>
                    #end
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddresses" tabindex="-1" role="dialog" aria-labelledby="modalAAddrLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAddrLabel">Addresses</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        #if ($addresses.size() > 0)
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Address</th>
                                    <th>Type</th>
                                    <th>State</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($lines in $addresses)
                                    <tr class="sortable" onclick="window.location.href='$request.contextPath/address/$lines.addressID'">
                                        <td>$!lines.addressID</td>
                                        <td>$!lines.value</td>
                                        <td>$!lines.addressType</td>
                                        <td>
                                            #if ($!lines.isActive==1)Active
                                            #elseif ($!lines.isActive==0) Inactive
                                            #else Undefined #end
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #{else}No data#end
                    </div>
                </div>
                <div class="modal-footer">
                    #if ($!customer.isActive==1)
                        <a class="btn btn-default" href="$request.contextPath/address/edit/$!customerID/-1" role="button">Add address</a>
                    #end
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="modalContLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalContLabel">Contacts</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        #if ($contacts.size() > 0)
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Contact</th>
                                    <th>Type</th>
                                    <th>State</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($lines in $contacts)
                                    <tr class="sortable" onclick="window.location.href='$request.contextPath/contact/$lines.contactID'">
                                        <td>$!lines.contactID</td>
                                        <td>$!lines.value</td>
                                        <td>$!lines.contactType</td>
                                        <td>
                                            #if ($!lines.isActive==1)Active
                                            #elseif ($!lines.isActive==0) Inactive
                                            #else Undefined #end
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #{else}No data#end
                    </div>
                </div>
                <div class="modal-footer">
                    #if ($!customer.isActive==1)
                        <a class="btn btn-default" href="$request.contextPath/contact/edit/$!customerID/-1" role="button">Add contact</a>
                    #end
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPapers" tabindex="-1" role="dialog" aria-labelledby="modalPapLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalPapLabel">Papers</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        #if ($papers.size() > 0)
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Paper</th>
                                    <th>Type</th>
                                    <th>State</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($lines in $papers)
                                    <tr class="sortable" onclick="window.location.href='$request.contextPath/paper/$lines.paperID'">
                                        <td>$!lines.paperID</td>
                                        <td>$!lines.value</td>
                                        <td>$!lines.paperType</td>
                                        <td>
                                            #if ($!lines.isActive==1)Active
                                            #elseif ($!lines.isActive==0) Inactive
                                            #else Undefined #end
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #{else}No data#end
                    </div>
                </div>
                <div class="modal-footer">
                    #if ($!customer.isActive==1)
                        <a class="btn btn-default" href="$request.contextPath/paper/edit/$!customerID/-1" role="button">Add paper</a>
                    #end
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function changeState() {
            var state = {};
            var customerID = $!customer.customerID;
            state.customerID = customerID;
            var status = $!customer.isActive;
            state.status = status;

            $.ajax({
                type : "GET",
                url : "$request.contextPath/customers/status",
                contentType : "application/json",
                dataType : "JSON",
                data : state,
                error : function(xhr, status, error) {
                    console.log("ResponseText:" + xhr.responseText);
                    alert("Failure during change status of customer!");
                },
                success : function(data) {
                    window.location.href='$request.contextPath/customerDetails/$!customer.customerID'
                    alert("Status of customer (customerID=$!customer.customerID) changed!");
                }
            });
        }

    </script>

</body>
</html>
