<!DOCTYPE html>
<html lang="en">
  #parse("WEB-INF/pages/header.vm")

  <body>
    <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
    #parse("WEB-INF/pages/topmenu.vm")

    <div class="container-fluid">
      <div class="row">
        #parse("WEB-INF/pages/leftmenu.vm")

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header">$pageName</h1>

          #if($authz.anyGranted('ROLE_OPERATOR'))
            <h2 class="sub-header">
                <a class="btn btn-success" href="$request.contextPath/customers/edit/-1" role="button">New customer</a>
            </h2>
          #end

          <div class="table-responsive">
            <table id="datatab" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Middle name</th>
                  <th>DOB</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
                #foreach($lines in $customers)
                  <tr class="sortable" onclick="window.location.href='$request.contextPath/customerDetails/$lines.customerID'">
                    <td>$lines.customerID</td>
                    <td>$lines.firstName</td>
                    <td>$lines.lastName</td>
                    <td>$lines.middleName</td>
                    <td>$!dateTool.format("dd.MM.yyyy", $!lines.getConvertedDate($!lines.birthDate))</td>
                    <td>
                      #if ($!lines.isActive==1) Active
                      #elseif ($!lines.isActive==0) Inactive
                      #else Undefined #end
                    </td>
                  </tr>
                #end
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript" class="init">

        $(document).ready(function() {
            $('#datatab').DataTable();
        } );

    </script>

  </body>
</html>
