<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="$request.contextPath/static-resources/favicon.ico">

    <title>Sign-In</title>

    <link type="text/css" href="$request.contextPath/static-resources/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="$request.contextPath/static-resources/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link type="text/css" href="$request.contextPath/static-resources/examples/signin/signin.css" rel="stylesheet">

    <script src="$request.contextPath/static-resources/assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

<div class="container">

    <form class="form-signin" action="$request.contextPath/login" method="post">
        #if ($auth)
            <div class="login-fail-msg">
                Invalid username or password!
            </div>
        #end
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">User name</label>
        <input type="username" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
    </form>

</div>

<script src="$request.contextPath/static-resources/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
