<!DOCTYPE html>
<html lang="en">
    #parse("WEB-INF/pages/header.vm")

<body>
<input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
    #parse("WEB-INF/pages/topmenu.vm")

<div class="container-fluid">
    <div class="row">
        #parse("WEB-INF/pages/leftmenu.vm")

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">$pageName</h1>

            <div class="form-group row">
                <label class="col-2 col-form-label">Account debit</label>
                <div class="col-10" style="width: 300px;">
                    <input class="form-control" type="text" id="fieldDebit" disabled value="$!account.accountNumber">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Account credit</label>
                <div class="col-10" style="width: 300px;">
                    <select class="form-control" id="fieldCredit">
                        <option value="" selected></option>
                        #foreach($line in $accounts)
                            <option value="$line.accountID">$line.accountNumber</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Operation type</label>
                <div class="col-10" style="width: 300px;">
                    <select class="form-control" id="fieldType">
                        <option value="" selected></option>
                        #foreach($line in $operations)
                            <option value="$line.dirID">$line.dirType</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Amount</label>
                <div class="col-10" style="width: 300px;">
                    <input class="form-control" type="text" id="fieldAmount" value="">
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="fieldReversed">
                    Reversed
                </label>
            </div>

            <h2 class="sub-header">
                <button class="btn btn-success" type="button" onclick="saveData()">Save</button>
                <a class="btn btn-warning" href="$request.contextPath/transactions/$!accountID/$invoker" role="button">Cancel</a>
            </h2>
        </div>
    </div>
</div>

<script>

    function saveData() {
        var state = {};
        var accountDebit = $!accountID;
        state.accountDebit = accountDebit;
        var accountCredit = $("#fieldCredit").val();
        state.accountCredit = accountCredit;
        var type = $("#fieldType").val();
        state.type = type;
        var amount = $("#fieldAmount").val();
        state.amount = amount;
        var reversed = 0;
        if ($('#fieldReversed').is(":checked")) {
            reversed = 1;
        }
        state.reversed = reversed;

        if(!accountCredit || !type || !amount) {
            alert("You must fill out all fields!");
            return;
        }

        $.ajax({
            type : "GET",
            url : "$request.contextPath/transactions/save",
            contentType : "application/json",
            dataType : "JSON",
            data : state,
            error : function(xhr, status, error) {
                console.log("ResponseText:" + xhr.responseText);
                alert("Failure during data process on controller!");
            },
            success : function(data) {
                window.location.href='$request.contextPath/transactions/$!accountID/$!invoker';
                if (data=="4") {
                    alert("Can't create transaction!");
                } else if (data=="3") {
                    alert("Insufficient funds on debit account!");
                } else if (data=="2") {
                    alert("Insufficient funds on credit account!");
                } else {
                    alert("Transaction successfully created.");
                }

            }
        });
    }

</script>

</body>
</html>
