<!DOCTYPE html>
<html lang="en">
    #parse("WEB-INF/pages/header.vm")

<body>
    <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}">
        #parse("WEB-INF/pages/topmenu.vm")

    <div class="container-fluid">
        <div class="row">
            #parse("WEB-INF/pages/leftmenu.vm")

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">$pageName</h1>
                #if ($!accountID)
                    <h3 class="sub-header">
                        <a class="btn btn-primary" href="$request.contextPath/account/$!accountID/$!invoker" role="button">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Back</a>
                        <a class="btn btn-success" href="$request.contextPath/transactions/new/$!accountID/$invoker" role="button">New transaction</a>
                    </h3>
                #end
                <div class="table-responsive">
                    <table id="datatab" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Reversed</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Debit account</th>
                                <th>Credit account</th>
                                <th>Last edited date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Reversed</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Debit account</th>
                                <th>Credit account</th>
                                <th>Last edited date</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            #foreach($lines in $transactions)
                            <tr>
                                <td>$!lines.transactionID</td>
                                <td>$!lines.operationTypeLabel</td>
                                <td>#if ($!lines.isReversed==1) Yes
                                #elseif ($!lines.isReversed==0) No
                                #else Undefined #end </td>
                                <td>$!lines.transactionSum</td>
                                <td>$!dateTool.format("dd.MM.yyyy", $!lines.getConvertedDate($!lines.transactionDate))</td>
                                #*$!dateTool.format("kk.mm.ss", $!lines.transactionTime)*#
                                <td>$!lines.transactionTime</td>
                                <td>$!lines.accountDebitLabel</td>
                                <td>$!lines.accountCreditLabel</td>
                                <td>$!lines.userID</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" class="init">

        $(document).ready(function() {
            $('#datatab').DataTable();
        } );

    </script>

</body>
</html>
