<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/customStyle.css"></link>
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/metisMenu.min.css"/>
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/sb-admin-2.css"/>
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css"/>

    <!--Datatables-->
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/dataTables.bootstrap.min.css"/>
##    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/colReorder.bootstrap.min.css"/> colReorder breaks filters, cause it is made by index of column
##    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/buttons.bootstrap.min.css"/>

    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/select2.min.css"/>
    <link type="text/css" rel="stylesheet" href="$request.contextPath/static-resources/css/jquery-ui.min.css"/>


    <!-- JS -->
    <script src="$request.contextPath/static-resources/js/jquery.min.js"></script>
    <script src="$request.contextPath/static-resources/js/bootstrap.min.js"></script>
    <script src="$request.contextPath/static-resources/js/metisMenu.min.js"></script>
    <script src="$request.contextPath/static-resources/js/sb-admin-2.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery.mask.js"></script>
    <script src="$request.contextPath/static-resources/js/customScripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <!--Datatables-->
    <script src="$request.contextPath/static-resources/js/jquery.dataTables.min.js"></script>
    <script src="$request.contextPath/static-resources/js/dataTables.bootstrap.min.js"></script>
##    <script src="$request.contextPath/static-resources/js/dataTables.colReorder.min.js"></script> colReorder breaks filters, cause it is made by index of column
    <script src="$request.contextPath/static-resources/js/jquery.dataTables.columnFilter.js"></script>
##    <script src="$request.contextPath/static-resources/js/dataTables.buttons.min.js"></script>
##    <script src="$request.contextPath/static-resources/js/buttons.bootstrap.min.js"></script>
##    <script src="$request.contextPath/static-resources/js/buttons.colVis.min.js"></script>

    <script src="$request.contextPath/static-resources/js/select2.min.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery-ui.min.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery-ui-i18n.min.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery.blockUI.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery.ui.widget.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery.iframe-transport.js"></script>
    <script src="$request.contextPath/static-resources/js/jquery.fileupload.js"></script>
</head>


