<!-- Navigation -->
<div class="row">
<nav class="navbar navbar-default navbar-static-top alcdesk-header" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand"  href="$request.contextPath/home" style="margin-left:10%"><big>AlcDesk</big></a>
    </div>
    <!-- /.navbar-header -->

<div>
    <span style="position:absolute; margin-left: 5%; top: 30%;" id="current-site-info">
        Сайт:
        <select name="current-site" id="select-site">
            #foreach($site in $userInfo.allowedSites)
            #if ($userInfo.site == $site.utId)
                <option value="$site.utId" selected>$site.utName</option>
                #else
                <option value="$site.utId">$site.utName</option>
            #end
            #end
        </select>
        <span style="font-size:16px; color:green;" id="change-site-status" hidden>Сайт изменен!</span>
    </span>
    <span style="position:absolute; margin-left: 30%; top: 35%; width:19%;">Пользователь: $userInfo.login</span>
    <span style="position:absolute;margin-left: 50%; top: 35%; width:30%;">Сведения о пользователе: $userInfo.name</span>
    <span style="position:absolute; margin-left: 85%; top: 35%;">
        <a href="javascript:;" onclick="$('#logout-form').submit();"><i class="fa fa-sign-out fa-fw"></i> </a>
                    <form action="$request.contextPath/logout" method="post" id="logout-form">
                        <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}"/>
        </form>
    </span>
</div>



    <script>

        $(document).ready(function() {
            $('#select-site').select2();
            $('#select-site').on("change", function(e){
                changeSite($('#select-site').val());
            });
        });

        function changeSite(el) {
            var siteId = el;
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "$request.contextPath/changeSite/"+siteId,
                dataType: "JSON",
                success: function(data) {
                    if(data.status == 'success') {
                        $('#change-site-status').removeAttr('hidden')
                                .delay(1000)
                                .queue(function() {
                                    $('#change-site-status').attr({'hidden':'hidden'}).dequeue();
                                });

                    }
                }
            });
        }
    </script>

##    <ul class="nav navbar-top-links navbar-right">
##        <!-- /.dropdown -->
##        <li class="dropdown">
##            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
##                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
##            </a>
##            <ul class="dropdown-menu dropdown-user">
##                <li>
##                    <a href="javascript:;" onclick="$('#logout-form').submit();"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
##                    <form action="$request.contextPath/logout" method="post" id="logout-form">
##                        <input type="hidden" name="$!{_csrf.parameterName}" value="$!{_csrf.token}"/>
##                    </form>
##                </li>
##            </ul>
##            <!-- /.dropdown-user -->
##        </li>
##        <!-- /.dropdown -->
##    </ul>


    <!-- /.navbar-top-links -->
</nav>
</div>


