<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!--<http pattern="/favicon.ico" security="none"/>-->

    <http>
        <intercept-url pattern="/static-resources/**" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>

        <form-login login-page="/login" default-target-url="/home" authentication-failure-url="/login?auth=fail"/>
        <logout logout-url="/logout" logout-success-url="/login"/>
    </http>

    <beans:bean id="customUserService" class="com.bank.web.services.CustomUserService"/>

    <global-method-security secured-annotations="enabled"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customUserService"/>
    </authentication-manager>

</beans:beans>